body{
    background-color: rgb(253, 254, 255);
}

@font-face {
    font-family: "Logo";
    src: url(fonts/chor.regular.otf);
}

nav{
    background-color:rgba(207, 207, 207, 0.57);
    height: 20px;
    width: 300px;
    border-radius:25px;
   position:relative;
   left: 600px;
   padding-left:5%;
   padding-right:5%;
   padding-top:1%;
}

button a{
    opacity: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 20px rgb(0,0,0);
    text-align: center;
    position:relative;
    left: 20px;
    font-size: 20px;
    

}
button{
    background: transparent;
    border: transparent;
}

header{
    font-family: "logo";
    font-size:50px;
    color:rgb(234, 197, 51);
}

.logo{
    width: 350px;
    height: 250px;
}